*{
    margin: 0;
    padding: 0;


    
}

.header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(images/photo1617382829275-16173828294621185248280.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}

.nav-link ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.header{
    color: white;
    font-size: 50;
}

.nav-link ul li::after{
    content: " ";
    width: 0%;
    height: 2px;
    background: lightblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid lightblue;
    background: lightblue;
    transition: 1s;
}
p{
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}

h2{
    font-size: 60px;
    color: white;
}

h3{
    color: white;
    font-size: 60px;
    font-style: italic;
    text-align: center;
}
.text{
    text-align: center;
}
h4{
    color: red;
}